@import "tailwindcss";

@theme inline {
  --color-procrastinator: var(--color-rose-500);
  --color-crammer: var(--color-amber-500);
  --color-balanced: var(--color-indigo-500);
  --color-responsible: var(--color-emerald-500);

  --color-procrastinator-subtle: var(--color-rose-100);
  --color-crammer-subtle: var(--color-amber-100);
  --color-balanced-subtle: var(--color-indigo-100);
  --color-responsible-subtle: var(--color-emerald-100);

  --font-sans: var(--font-noto-sans);
  --font-serif: var(--font-noto-serif);
}