@import "tailwindcss";

@theme inline {
  --color-accent: #3b82f6;

  --color-border: #e7e8ec;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f1f4f9;
  --color-bg-tertiery: #0f172a;

  --color-text-primary: #0f172a;
  --color-text-secondaray: #6e7683;
  --color-text-tertiery: #ffffff;

  --color-procrastinator: #3b82f6;
  --color-crammer: #ef4346;
  --color-balanced: #a758fa;
  --color-responsible: #1fc760;

  --color-procrastinator-subtle: #eff6ff;
  --color-crammer-subtle: #fef2f3;
  --color-balanced-subtle: #fbf5ff;
  --color-responsible-subtle: #f0fdf4;

  --font-sans: var(--font-noto-sans);
  --font-serif: var(--font-noto-serif);
}